/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/sass3.scss */
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* line 12, ../sass/sass3.scss */
.navbar {
  background-color: darkgrey;
  border-style: solid;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  background: linear-gradient(white, cyan);
}

/* line 21, ../sass/sass3.scss */
h1 {
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px #898989;
  transform: rotateX(360deg);
}

h2{
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px #898989;
  transform: rotateX(360deg);
}

/* line 29, ../sass/sass3.scss */
div #firstcol {
  flex: 1;
  background-color: burlywood;
}

/* line 34, ../sass/sass3.scss */
div #secondcol {
  flex: 3;
}

/* line 37, ../sass/sass3.scss */
div #thirdcol {
  flex: 2;
}

/* line 40, ../sass/sass3.scss */
div #fourthcol {
  flex: 3;
}

/* line 43, ../sass/sass3.scss */
img {
  height: 300px;
  width: 300px;
}

h3{
  text-align: center;
  font-size: 85px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px #898989;
  transform: rotateX(360deg);
}

p.big {
    line-height: 200%;
    font-size: 20px;
    color: aliceblue
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .navbar: linear-gradient(#0000ff, #ffff00);
}
