@import "compass";
@import "compass/reset";

img{
    height:200px;
    width:200px;
}

p {
    font-size:20px;
}

div {
    background-color: cornflowerblue;
    border-radius: 25px;
    box-shadow: 6px 2px #A9A9A9;
    margin: 30px;
}

body {
    background-color:crimson;
    text-align: center;
    font: 40px sans-serif;
    color:red;
}

h1 {
    text-align: center;
    font-size: 80px;
    text-shadow: 4px 4px #A9A9A9;
    
}