@import "compass";
@import "compass/reset";

img{
    height:300px;
    width:500px;
}

p {
    font-size:20px;
}

.rah {
    background-color: cornflowerblue;
    border-radius: 25px;
    box-shadow: 6px 2px #A9A9A9;
    margin: 30px;
    height: 400px;
    width: 600px;
}
.abc {
    background-color: coral;
    height: 400px;
    width: 600px;
}

body {
    background-color:cadetblue;
    text-align: center;
    font: 40px sans-serif;
    color:red;
}

h1 {
    text-align: center;
    font-size: 80px;
    text-shadow: 4px 4px #A9A9A9;
    
}
a:hover {
    width: 600px;
}
#linear-gradient{
  @include background-image(linear-gradient(to bottom right, red, blue, orange));
  font-size:15px;
}